<html>
<head>
<meta charset="utf-8">
<title>Bear Meeting - Configurações</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/master.css">
<link id="favicon" rel="shortcut icon" href="/images/favicon.png" type="image/png">
</head>
<body>
<nav class="navbar navbar-static-top navbar-light bg-faded">
  <a href="/" class="navbar-brand">MBM</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Início</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/reunioes">Reuniões</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/configuracoes">Config</a>
    </li>
    <li class="nav-item float-xs-right">
      <a class="nav-link" href="/sair">Sair</a>
    </li>
  </ul>
</nav>
<div class="container">
  <h2>Configurações</h2>

  <a href="/reunioes/nova" class="btn btn-danger btn-radius">+</a>
</div>
</body>
</html>
