@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i);
}
:root{
  --prymary-color: #e06b6b;
}

.meeting-card{
  background-color: rgba(0,0,0,0.05);
  padding: 0px;
  border-radius: 3px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
  margin: 10px;
  min-height: 300px;
}
.meeting_card_footer{
  padding: 10px;
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 3px solid #fff;
  width: 100%;
  text-align: right;
}
.meeting_card_footer .btn{
  line-height: 0.25;
  font-size: 12px;
  padding: 0.4rem 1rem;
}
.meeting_card_head{
  background-color: var(--prymary-color);
  border-radius: 3px 3px 0px 0px;
  text-align: center;
}
.meeting_card_body{
  padding: 20px;
  min-height: 100px;
}
.meeting_card_head h1{
  color: #fff;
  font-size: 20px;
  letter-spacing: normal;
  line-height: 50px;
}
.status_meeting{
  font-size: 10px;
  background-color: #fff;
  color: #666;
  padding: 2px 5px;
  border-radius: 2px;
}
.signout-btn{
  position: absolute;
  right: 10px;
  top: 10px;
}
.form-sign {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-meeting{
  max-width: 400px;
  margin: 0 auto;
}
.container, .container-fluid{
  padding-top: 20px;
}
.form-sign .form-control, .form-meeting .form-control {
    margin: 5px 0px;
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border-color: #999;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
}
.badge{
  font-size: 10px;
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
  background-color: #f3f3f3;
  padding: 5px;
  border-radius: 3px;
}
.badge.danger{
  background-color: var(--prymary-color);
  color: #fff;
}
.badge.warning{
  background-color: #fbe46d;
  color: #777171;
}

.btn-radius{
  border-radius: 100%;
  width: 60px;
  height: 60px;
  padding: 12px 0px;
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  background-color: var(--prymary-color);
  border: none;
}
.btn-radius:hover{
  background-color: var(--prymary-color);
  box-shadow: 0px 0px 19px rgba(0,0,0,0.5);
}
.btn-default{
  background-color: #999;
  color: #fff;
}
.btn-default:hover{
  color: #fff;
}
.btn-default:active{
  color: #fff;
}
.btn-default:focus{
  color: #fff;
}
.navbar-brand{
  color: var(--prymary-color) !important;
}
h1, h2{
  font-family: Roboto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}
